*.pt
*.ckpt
*.pth
*token.txt
*detect_language_key.txt
*.key
*.crt
*.safetensors
Neural_network_processing/checkpoints
Neural_network_processing/log
Stable_draw_classifier_v1/Dataset_100_v1
Stable_draw_classifier_v1/Dataset_v1
Stable_draw_classifier_v1/Dataset_350_v2
Stable_draw_classifier_v1/Dataset_v2
*.bin
*.git
RabbitService/__pycache__
__pycache__
RabbitService\consumers\__pycache__
